#accordion-section-business_upgrade .accordion-section-title{
	color:#e55656;
	font-weight:bold;
}

.draxen-upgrade-container{
	width:90%;
	padding:5%;
	background:rgba(0,0,0,0.10);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
}
.draxen-upgrade-container ul{
	margin:0;
	padding:0;
	list-style:disc;
	margin:0 0 0 20px;
}
.draxen-upgrade-container ol{
	margin:0;
	padding:0;
	margin:0 0 0 20px;
}
.draxen-upgrade-container ul li, .draxen-upgrade-container ol li{
	padding:5px 0;
	font-weight:bold;
}
.draxen-upgrade-container p{
	margin:2.0em 0;
	text-align:center;
}
.draxen-upgrade-container a{
	padding: 0.4em 4.0em 0.6em 4.0em;
	background:#e55656;
	-webkit-border-radius: 1.2em;
	-moz-border-radius: 1.2em;
	border-radius: 1.2em;
	text-decoration: none;
	color:rgba(255,255,255,1.00);
	margin: 0;
	display:inline-block;
	font-size:1.0rem;
	font-weight:600;
	line-height:1.0;
}