body{ min-width:1000px;}
.no-margin-right{margin-right:0px !important;}
.header{width:960px;}

/* NAVIGATOIN */
.mobile_nav a{background:url('assets/images/mobile_nav_right.png') no-repeat right center #f6f6f6; border:1px #ccc solid; margin-top:10px; padding:12px 20px; display:none;}
.header_right nav{padding:10px 0; margin-right:-10px; line-height:1.25}
nav ul{list-style:none; color:#6c6d6c; font-size:14px;}
nav ul li{float:left; display:inline; position:relative;}
nav ul li a{display:block; padding:5px 10px; color:#6c6d6c;}
nav ul li.current-menu-item a, nav ul li a:hover{color:#e1472f;}
nav ul li ul{display:none; width:180px;}
nav ul li:hover ul{display:block; position:absolute; background:#fff; border-top:3px #e1472f solid; box-shadow:5px 5px 5px rgba(0,0,0,0.5); -moz-box-shadow:5px 5px 5px rgba(0,0,0,0.5); -webkit-box-shadow:5px 5px 5px rgba(0,0,0,0.5); }
nav ul li.current-menu-item ul li{position:relative;}
nav ul li.current-menu-item ul li, nav ul li.current-menu-item ul li a{color:#6c6d6c; display:block; float:none; }
nav ul li.current-menu-item ul li a{padding-top:7px; padding-bottom:7px;}
nav ul li ul li.current-menu-item a, nav ul li ul li a:hover{background-color:#e1472f; color:#fff;}
nav ul li:hover ul li ul, nav ul li:hover ul li:hover ul li ul{display:none;}
nav ul li:hover ul li:hover ul, nav ul li:hover ul li:hover ul li:hover ul{display:block; position:absolute; left:180px; top:0;}

hr{*border:none !important;}
.search-form {*height:32px !important; *overflow:hidden !important;}
.search-form .search-submit{*top:-34px; *position:relative;}
.search-form .search-field{*width:120px !important; }
.search-form label{*display:inline-block !important;}
.header_right nav{*float:right !important;}
nav ul li ul li, nav ul li ul li a{*display:block !important; float:none !important;}