/*Widgets*/
#business-way-home-page .widget .widget-top {
    background: #0085ba!important;
}
#business-way-home-page .widget h1, 
#business-way-home-page .widget h2, 
#business-way-home-page .widget h3{
    color:#fff;
}
#business-way-home-page .in-widget-title{
    color: #fff;
}
#business-way-home-page .widget-action {
    color: #ffffff;
    background: #006086;
}
#business-way-home-page label {
    cursor: pointer;
    font-weight: bold;
    color: #666;
    margin-bottom: 5px;
    display: inline-block;
}

#business-way-home-page input[type=text], 
#business-way-home-page input[type=search], 
#business-way-home-page input[type=tel], 
#business-way-home-page input[type=time], 
#business-way-home-page input[type=url], 
#business-way-home-page input[type=week], 
#business-way-home-page input[type=password], 
#business-way-home-page input[type=color], 
#business-way-home-page input[type=date], 
#business-way-home-page input[type=datetime], 
#business-way-home-page input[type=datetime-local], 
#business-way-home-page input[type=email], 
#business-way-home-page input[type=month], 
#business-way-home-page input[type=number], 
#business-way-home-page select, 
#business-way-home-page textarea {
    border: 1px solid #ddd;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    background-color: #fff;
    color: #32373c;
    outline: 0;
    -webkit-transition: 50ms border-color ease-in-out;
    transition: 50ms border-color ease-in-out;
    height: 34px;
    border-radius: 4px;
    margin-bottom: 15px;
    width: 100%;
}
.widefat {
    margin-bottom: 15px;
}
.widget-inside small {
    font-size: 13px;
    margin-bottom: 10px!important;
    display: inline-block;
}
a.pt-business-way-add.button {
    background: #5cb85c!important;
    height: 34px;
    line-height: 34px;
    font-size: 15px;
    color: #fff;
    border: 1px solid #5cb85c;
    margin-bottom: 10px;
    margin-top: 10px;
}
.widget-control-actions {
    margin: 0 -15px;
    border-top: 1px solid #e5e5e5;
    padding: 15px 15px 0 15px;
}
.pt-business-way-sec {
    margin: 0 -15px;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
    display: inline-block;
    width: 100%;
    background: #f5f5f5;
}
a.pt-business-way-remove.delete {
    background: #d9534f!important;
    padding: 7px 10px;
    color: #fff;
    border-radius: 3px;
    float: right;
    cursor: pointer;
}

input#remove_media_button { 

    background: #d9534f!important;
    height: 34px;
    border-color: #d9534f!important;
    position: relative;
    color: #ffffff;

}

input#custom_media_button {
    background: #0275d8!important;
    height: 34px;
    border-color: #0275d8!important;
    position: relative;
    color: #ffffff;
}



button.button-link.button-link-delete.widget-control-remove {
    background: red;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
}

button.button-link.widget-control-close {
    background: #f0ad4e;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
}

/*repeater field title*/
.pt-repeater,
.pt-repeater-field-control-wrap{
    background: #fff;
}
.pt-repeater-top {
    padding: 0;
    cursor: move;
    background: #fafafa none repeat scroll 0 0;
    color: #23282d;
    line-height: 1.4em;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
.pt-repeater-title h3,
.pt-repeater-title h4 {
    -moz-user-select: none;
    font-size: 1em;
    line-height: 1;
    margin: 0;
    overflow: hidden;
    padding: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pt-repeater-title-action {
    float: right;
    position: relative;
}
.pt-repeater-action {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
    margin: 0;
    outline: 0 none;
    padding: 10px;
    color: #555d66;
}
.pt-repeater-action .pt-toggle-indicator:before{
    border-radius: 50%;
    padding: 1px 2px 1px 0;
    display: block;
    font: 400 20px/1 dashicons;
    content: "\f140";
    text-decoration: none;
}
.repeater-table,
.repeater-field-control{
    margin: 0 auto 10px;
}
.repeater-table.open .pt-repeater-action .pt-toggle-indicator:before{
    content: "\f142";
}
.pt-repeater-inside,
.repeater-fields{
    line-height: 16px;
    padding: 10px 15px 15px;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
.pt-sortable-placeholder {
    border: 1px dashed #b4b9be;
    margin: 0 auto 10px;
    height: 45px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
li#customize-control-business_way_homepage_slider_option {
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    margin: 0;
    border-bottom: 1px solid #eee;
}
li#customize-control-business_way_slider_option {
    margin: auto;
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
}
button.button.pt-repeater-add-control-field {
    background: #5cb85c!important;
    height: 34px;
    line-height: 34px;
    font-size: 15px;
    color: #fff;
    border: 1px solid #5cb85c;
    margin-bottom: 10px;
    margin-top: 10px;
}
a.repeater-field-remove {
    background: red;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

a.repeater-field-close {
    background: #f0ad4e;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    margin-top: 10px;
    margin-top: 10px;
    display: inline-block;
}
.clearfix.repeater-footer {
    color: #fff;
}
li#customize-control-business_way_sidebar_layout_option {
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
}
li#customize-control-business_way_sidebar_layout_option {
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
}

#sub-accordion-section-business_way_blog_archive_layout_option li:nth-child(2), 
#sub-accordion-section-business_way_blog_archive_layout_option li:nth-child(3), 
#sub-accordion-section-business_way_blog_archive_layout_option li:nth-child(4), 
#sub-accordion-section-business_way_blog_archive_layout_option li:nth-child(5), 
#sub-accordion-section-business_way_blog_archive_layout_option li:nth-child(6), 
#sub-accordion-section-business_way_blog_archive_layout_option li:nth-child(7) {
    background: #fff;
    padding:10px;
    box-sizing:border-box; 
    margin:0
}
.wp-admin select[multiple] {
    height: auto !important;
}