@media screen and (max-width:991px) {
    .logo-box {
        width: 100%;
        text-align: center;
        padding-bottom: 0px;
    }
    .nav-outer {
        width: 100%;
        padding-right:0;
    }
    .header-lower {
        padding: 0 15px;
    }
}

@media screen and (max-width:767px) {
    .main-menu {
        padding-top: 0px;
        width: 100%;
        margin: 0px;
    }
    .navbar-header {
        position: relative;
        float: none;
        display: block;
        text-align: right;
        width: 100%;
        padding: 18px 0px;
        right: 0px;
        z-index: 12;
    }
    .main-menu .navbar-toggle {
        display: inline-block;
        z-index: 7;
        border: 1px solid #0c2c7d;
        float: none;
        margin: 0px 0px 0px 0px;
        border-radius: 0px;
        background: #0c2c7d;
    }
    .search-box-outer {
        left: 0px;
        right: auto;
        margin: 0px;
        top: 22px;
        z-index: 20;
        border: none;
    }
    .search-box-outer .dropdown-menu {
        top: 40px;
        left: 0px;
        right: auto;
    }

	.map-txt li {
		width: 100%;
		padding: 15px;
	}
	.slider-content h2{
		font-size: 36px;
	}
    .contact-form {
        max-width: 90%;
    }
}

@media screen and (max-width:720px) {


	.slider-content h2{
		font-size: 35px;
	}
}

@media screen and (max-width:640px) {
	.c-img:after {
		content: '';
		right: 28%;
		width: 90px
	}
	.c-img:before {
		content: '';
		left: 28%;
		width: 90px
	}
	.title-txt1 h5 {
		font-size: 12px;
	}
	.attr-nav {
		position: relative;
	}
	.refer-txt1 {
		margin-top: 40px;
	}
	.refer-txt h2,
	.refer-txt1 h2 {
		font-size: 24px;
	}
	.pro-box ul>li {
		width: 100%;
	}
	.brand {
		max-width: 400px;
	}
	.headtop.pull-left {
		float: none !important;
		text-align: center;
		margin-bottom: 20px;
	}
	.headtop1 li,
	.headtop1.pull-right {
		float: none !important;
		text-align: center;
	}
	.attr-nav {
		float: none;
		display: block;
		text-align: center;
	}

	.ab3-img {
		width: 100%;
	}
	.ab3-txt {
		padding-left: 0;
		margin-bottom: 10px;
	}
	.slider-content h2{
		font-size: 30px;
	}
}

@media screen and (max-width:600px) {
	.head-right li a {
		padding: 15px 20px;
	}
	.head-left li {
		padding-right: 10px;
	}
	.slider-content h2{
		font-size: 30px;
	}
}

@media screen and (max-width:580px) {
	.c-img:after {
		content: '';
		width: 80px
	}
	.c-img:before {
		content: '';
		width: 80px
	}
	h1.title-top {
		font-size: 24px;
	}
	.refer-txt1 {
		margin-top: 20px;
	}

	.slider-content h2{
		font-size: 28px;
	}
}

@media screen and (max-width:480px) {
	.c-img:after {
		content: '';
		right: 26%;
		width: 70px
	}
	.c-img:before {
		content: '';
		left: 26%;
		width: 70px
	}
	.refer-txt1 p {
		max-width: 400px;
	}
	.head-right li {
		margin: 5px 0;
	}
	
	.slider-content h2{
		font-size: 26px;
	}
	.slider-item img {
		 max-width: 100%;
		 height: 260px;
	 }

}

@media screen and (max-width:400px) {
	.slider-content h2{
		font-size: 24px;
	}
}

@media screen and (max-width:360px) {
	.slider-content h2{
		font-size: 20px;
	}
}